<div id="box">

    <nav>
        <img src="/img/logo.webp" alt="logo">

        <ul class="menu">
            <li><a href="/MovieMagic-Workshop/src/static">Home</a></li>
            <li><a href="/create">Create Post</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/about">About</a></li>
        </ul>

    </nav>


    <main>
        {{{body}}}
    </main>
    <footer>
        © JS Back-End Workshop
    </footer>
</div>
