<li>
    <article>
        <header>
            <h3>{{name}}</h3>
        </header>
        <main>
            <p>This cat is {{age}} years old</p>
            <p>Breed: {{breed}}</p>
        </main>
    </article>
</li>