<section id="create-container">
    <div class="create-container-info">
        <h1>Create Course</h1>
        <form method="POST">
            <label>Title:</label>
            <input name="title" type="text" id="title">

            <label>Type:</label>
            <input name="type" type="text" id="type">

            <label>Certificate:</label>
            <input name="certificate" type="text" id="certificate">

            <label>Image:</label>
            <input name="image" type="text" id="image" placeholder="http://...">

            <label>Description:</label>
            <textarea id="content" name="description"></textarea>

            <label>Price:</label>
            <input name="price" type="number" id="price">

            <input type="submit" id="btn" value="Create">
        </form>
    </div>
</section>
