<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Page</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="./static/images/logo.avif" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">All Volcanoes</a></li>
                <li><a href="#">Create Volcano Wiki</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="volcano-catalog">
            <h1 id="title"><span>Volcano</span> Catalog</h1>
            <div class="item-list">
                <div class="volcano">
                    <div class="volcano-img">
                        <img src="./static/images/hunga-tonga.jpg">
                    </div>
                    <div class="volcano-info">
                        <h1>Hunga Tonga</h1>
                        <p><span>Location: </span>Tonga Islands</p>
                        <p><span>Volcano Type: </span>Submarine</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="volcano">
                    <div class="volcano-img">
                        <img src="./static/images/merapi.jpg">
                    </div>
                    <div class="volcano-info">
                        <h1>Mount Merapi</h1>
                        <p><span>Location: </span>Indonesia</p>
                        <p><span>Volcano Type: </span>Stratovolcanoes</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>
                <div class="volcano">
                    <div class="volcano-img">
                        <img src="./static/images/etna.jpg">
                    </div>
                    <div class="volcano-info">
                        <h1>Mount Etna</h1>
                        <p><span>Location: </span>Sicily Italy</p>
                        <p><span>Volcano Type: </span>Stratovolcanoes</p>
                    </div>

                    <a href="#" class="btn-details">Details</a>
                </div>

            </div>
            <!-- <div class="no-volcano">
                <p>There are no volcano found yet!</p>
            </div> -->
        </section>
    </main>

    <footer>
        <p>&copy JS Back-End 2024</p>
    </footer>
</body>

</html>